body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(231, 202, 164);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin-bottom: 10px;
}

.Task-Input,
.filter {
  background: white;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: fit-content;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select {
  width: 60%;
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 8px 12px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

#taskList {
  list-style: none;
  padding: 0;
}

.task-item {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-item select {
  margin-top: 5px;
}
